<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Parques
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
   <ion-item [routerLink]="['/jaqueira']">
     <ion-thumbnail slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Jaqueira_Park_-_Recife%2C_Pernambuco%2C_Brazil%282%29.jpg/800px-Jaqueira_Park_-_Recife%2C_Pernambuco%2C_Brazil%282%29.jpg">
     </ion-thumbnail>
     <ion-label>
       <ion-text color="tertiary">
         <h2> Parque da Jaqueira</h2>
       </ion-text>
       <ion-badge color="danger" slot="end">Jaqueira</ion-badge>
     </ion-label>
     <ion-icon name="chewron-forward-outline" slot="end"></ion-icon>
   </ion-item>
 </ion-list>


</ion-content>
